body {
    margin: 0px;
    background: #ffbbff;   
}

.punkt{
    padding: 10px;
    text-decoration: none;
    float: left;
    background: #2b2f3a
    
    
}

.punkt:hover{
    background: #fff;
}

.wrapper{
    background-color: grey;
    height: 1000px;
    width: 1024px;
    margin: 0px auto;
    
}


.menu{
    height:10px;
    background: #2b2f3a;   
}

ul{
    list-style-type: none;
    margin 0;
    padding 0;
}
